/* Name: Connor Hardin
     Date: 7/11/2022
     File Name: styles.css
     Assignment: Cheech's Flexible Pizza Parlor
*/
html {font-family: sans-serif;}
header {background-color: white;}

img {height: 60%; width: 55%;}
.cheese {height:50%; width: 40%;}
.logo {width: 20%;height: 25%;}

.menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #50464C;
  border: 1px solid black;
}

.submenu{
  padding: 15px;
  color: white;
}

.submenu:hover{
  background-color: white;
  color: black;
}

.flex-container-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-testimonial {
  float: right;
  display: flex;
  flex-flow: column;
  border: 1px solid gray;
  padding: 5px;
}
.flex-social {
  float: right;
  display: flex;
  flex-flow: column;
}

@media (max-width: 568px) {
  .menu {
    flex-direction: column;
  }
}
